*.egg-info
__pycache__/
*.py[cod]
.idea
.vscode/
.codex
outputs
logs
wandb
*.log
MUJOCO_LOG.TXT
MJDATA.TXT
MJMODEL.TXT
deploy/robots/g1/build
deploy/robots/h1_2/build
deploy/robots/g1_23dof/build
deploy/robots/r1/build
src/assets/motions/g1/dance1_subject2.npz
simulate/build
